In [1]:
import seaborn as sns

In [2]:
import matplotlib.pyplot as plt

In [3]:
import pandas as pd

In [7]:
data=pd.read_csv("persona.csv")
new_col=data.columns[:-1]
data.drop("PRICE", axis=1,inplace=True)
data.columns=new_col
data["AGE1"]=pd.cut(data["AGE"], [0,18,23,30,40,66],
                  labels=['0_18', '19_23', '24_30', '31_40', '41_66'])

In [8]:
data["AGE1"]=data["AGE1"].astype(str)
cat_cols=[col for col in data.columns if data[col].dtypes=="O"]
data[cat_cols]=data[cat_cols].apply(lambda x: x.str.upper())
data["customers_level_based"]=data[cat_cols[2]]+"_"+data[cat_cols[0]]+"_"+data[cat_cols[1]]+"_"+data[cat_cols[3]]
new_data=data[["customers_level_based", "PRICE"]]
new_df=pd.DataFrame(new_data.groupby(by=["customers_level_based"]).sum())
new_df.sort_values(by=['PRICE'],ascending=False, inplace=True) # No sorting no segmentation
new_df["SEGMENT"]=pd.qcut(new_df["PRICE"], 3, labels=["C", "B", "A"])
new_df.reset_index(inplace=True)
new_df[new_df["customers_level_based"]=="TUR_ANDROID_FEMALE_31_40"]

       customers_level_based  PRICE SEGMENT
76  TUR_ANDROID_FEMALE_31_40    459       C

In [9]:
new_df.head()

      customers_level_based  PRICE SEGMENT
0     USA_ANDROID_MALE_0_18   7970       A
1   USA_ANDROID_FEMALE_0_18   7274       A
2  USA_ANDROID_FEMALE_19_23   6465       A
3         USA_IOS_MALE_0_18   6266       A
4  BRA_ANDROID_FEMALE_19_23   5936       A